{% extends 'main.html.twig' %}

{% block content %}
    <form method="POST" action="/add">
        <h2>Adding a document</h2>
        <fieldset>
            <legend>New document</legend>

            <label for="field_id">
                ID: <input type="text" name="field_id" id="field_id">
            </label>

            <label for="field_name">
                Name: <input type="text" name="field_name" id="field_name">
            </label>

            <label for="field_categories">
                Categories (Comma separated): <input type="text" name="field_categories" id="field_categories">
            </label>

            <label for="field_price">
                Price: <input type="text" name="field_price" id="field_price">
            </label>
        </fieldset>

        <input type="submit" value="Submit" />
    </form>
{% endblock %}
