<h1>Solarium Examples</h1>

<ul>
    <li>
        <a href="/ping">Solariuim version and ping</a>
    </li>
    <li>
        <a href="/simple_search">Simple search</a>
    </li>
    <li>
        <a href="/facet_field">Facet field</a>
    </li>
</ul>
