<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Solr and Solarium Examples</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    </head>
    <body>
        <h1>Solarium Examples</h1>

        <nav>
            <ul>
                <li>
                    <a href="/ping">Solarium version and ping</a>
                </li>
                <li>
                    <a href="/simple_search">Simple search</a>
                </li>
                <li>
                    <a href="/facet_field">Facet field</a>
                </li>
                <li>
                    <a href="/document">Add documents</a>
                </li>
            </ul>
        </nav>

        <article>
            {% block content %}
                <p>Select one example from the menu</p>
            {% endblock %}
        </article>
    </body>
</html>
