{% extends "main.html.twig" %}

{% block content %}
    <h2>Solarium Version: {{ solariumVersion }} </h2>

    {% if success %}
        <p>Ping OK</p>
    {% else %}
        <p>Ping failed</p>
    {% endif %}
{% endblock %}
