{% extends "main.html.twig" %}

{% block content %}
    <h2>Simple Search</h2>

    <p>Found documents: {{ result.getNumFound }} </p>

    {% for document in result %}
        <hr />
        <table>
            {% for field, value in document %}
                <tr>
                    <th>{{ field }}</th>
                    <td>{{ value|join(', ') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
